.footer {
    margin-top: 4rem;
    background-color: black;
    min-height: 8rem;
    color: #11d811;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
  }

